:root {
  --gris: #aaa;
  --rojo: #e93d50;
  --rojo-oscuro: #af303f;
  --blanco: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,46,46,1) 70%);

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--blanco);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;  
}

.drum {
  margin: 0 .2rem;
}

.teclado {
  background: #252525;
  box-shadow: 6px 8px 0 6px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--gris);
  color: #000;
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla_clap, .tecla_puff, .tecla_toim, .tecla_tic{
  background-color: darkblue;
}

.tecla_pom, .tecla_splash, .tecla_tom, .tecla_tim, .tecla_psh {
  background-color: gold;
}

.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 4px solid  var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  color: var(--blanco);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}
